.NavControl {
    position: absolute;
    right: 5%;
    top: 5%;
}

.Map {
    height: 80vh;
    display: flex;
    justify-content: center;
}

homeButton {
    display:flex-box;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200%;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

homeButton:hover{
    color:#000000;
    display: flexbox;
    justify-content: center;
}

.icon {
    color: rgb(146,	198, 68)
}